<div class="row">
  <aside class="top">
    <% if logged_in? %>
      <%= render 'users/user_info' %>
      <%= render 'shared/menu_form' %>
    <% else %>
      <div class="center jumbotron">
        <h1>日々の献立を管理しよう！</h1>
        <h2>-献立記録サービス-</h2>
        <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </aside>
  <div class="recent-menu">
    <h2>みんなの献立</h2>
    <ul class="horizontal-list">
      <%= render @menus %>
    </ul>
  </div>
</div>
