<li id="menu-<%= menu.id %>">
  <ul class="dishes">
    <% menu.dishes.all.each do |dish| %>
      <li class="dish"><%= dish.name %></li>
    <% end %>
  </ul>
  <div class="timestamp"><%= time_ago_in_words(menu.created_at) %></div>
</li>
