<li id="menu-<%= menu.id %>">
  <span class="dishes">
    <%= menu.dishes.all.each do |dish| %>
      <div class="dish"><%= dish.name %></div>
    <% end %>
  </span>
  <span class="timestamp"><%= time_ago_in_words(menu.created_at) %></span>
</li>
