<% provide(:title, 'ユーザー検索') %>

<section class="users user_info">
  <%= render partial: 'user', locals: { user: current_user } %>
</section>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
