<% if @menuform.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      入力した内容に<%= @menuform.errors.count %>つのエラーがあります。
    </div>
    <ul>
    <% @menuform.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
