<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title" id="myModalLabel">日付を選択してください。</h5>
    </div>
    <div class="modal-body" id="events_calendar">
      <%= render partial: "calendar" %>
    </div>
  </div>
</div>



<!-- <script>
  // jQuery(document).ready(function() {
    // $('input[name="start_date"]').on("change", function() {
        // $(this).parent().submit();
        // $('.modal-body').remove;
        // Rails.fire($(this).parent()[0], 'submit';
      // });
  // });
  function OnButtonClick() {

    var a = document.getElementById("target").value;
    var b = document.getElementById("url").value;
    // location.href = `${b}?start_date=${a}-01`;
    location = `${b}?start_date=${a}-01`;
  }
</script> -->
