<div class="search-form">
  <%= form_with(scope: :search, url: yield(:url), method: :get, remote: true) do |f| %>
    <%= f.text_field :name, value: yield(:search_word),
        placeholder: yield(:placeholder), id: "search_name", class: "form-control" %>

    <%= f.submit yield(:submit), class: "btn btn-search" %>
  <% end %>
</div>
