// bootstrap-sass 内部で 相対パスを解決できないため、パス変数を差し替え
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$dark-green: #006064;
$little-light-orange: #FFCC80;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background-color: #EEEEEE;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  .container {
    width: 100%;
    min-height: 1000px;
    background-color: white;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.home-title {
  background-color: #FBE9E7;
  text-align: center;
  width: 100%;
  color: black;
  margin: 0 auto;
  h1 {
    font-size: 2em;
    max-width: 250px;
    margin: 10px auto;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 150%;
    text-align: center;
    padding: 0;
    background: 0;
    border-left: 0;
  }
}

.home-section {
  border: 2px solid $little-light-orange;
}

.round-area {
  width: 95%;
  margin: 10px auto 0 auto;
  padding: 0;
  border-radius: 5px;
  background-color: white;
}

/* btn */

.btn-primary {
  background-color: $dark-green;
  width: 139px;
  margin: 10px;
}

.btn-secondary {
  font-size: 1.0em;
  background-color: white;
  width: 139px;
  margin: 10px;
  border: 2px solid black;
  padding: 5px 16px;
}

.btn-success {
  width: 139px;
  margin: 10px;
}

.btn-users-form {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.btn-send {
  color: #FFF;
  background-color: #fd9535;/*色*/
  border: solid 2px #d27d00;/*線色*/
  width: 100%;
}

.btn-delete {
  color: red;
  background-color: white;/*色*/
  border: solid 2px red;/*線色*/
  float: right;
}

.btn-new-dish {
  color: white;
  background-color: $dark-green;
}

.btn-search {
  color: white;
  width: auto;
  background-color: #fd9535;
}

.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  margin-bottom: 5px;
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.footer-btn-area {
  width: 100%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
  div {
    margin-top: 10px;
    font-size: 0.5em;
    color: gray;
  }
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar {
  background-color: $little-light-orange;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px white;
  box-shadow: 0 0 4px gray;
  margin: 0;
  padding-left: 5px;
  border: 0;
  border-radius: 0;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
                "Yu Mincho", "MS PMincho", serif;
  .navbar-container {
    width: 100%;
    .navbar-header {
      display: flex;
      align-items: flex-end;
      margin: 1px;
      button {
        margin: 0 0 0 auto;
      }
      .sub-title {
        display: inline-block;
        margin-bottom: 3px;
      }
      #logo {
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        padding-top: 9px;
        color: black;
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

section.user_info {
  margin-top: 20px;
}
section {
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
    border: 0;
    padding-top: 0;
  }
  span {
    // display: block;
    float: left;
    margin-bottom: 3px;
    line-height: 1;
  }
}

.gravatar_edit {
  margin-top: 15px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* menus */

.menus {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    background-repeat: no-repeat;
    span {
      color: $gray-light;
    }
    .user {
      display: block;
      text-align: right;
    }
  }
  .dishes {
    display: block;
    margin-left: 5%;
    .dish {
      padding: 0 5px;
      background-color: white;
      border-radius: 20px;
      margin: 7px 0 7px 0;
      width: 90%;
    }
  }
}

/* recent menu */

.round-area {
  h2 {
    color: black;
    line-height: 1.5;
    text-shadow: 1px 1px white;
    font-size: 2.0em;
    margin: 0 auto;
    background-color: $little-light-orange;
  }
  .horizontal-list {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    padding: 0;
    margin: 2px;
    font-size: 1.1em;
    .item {
      /* 横スクロール用 */
      display: inline-block;
      width: 45%;
      min-width: 180px;
      max-width: 250px;

      /* 見た目調整 */
      margin: 0 2px;
      height: 270px;
      position: relative;
      box-shadow: 0px 0px 2px gray;
      .picture {
        width: 100%;
        height: 50%;
        overflow: hidden;
        display: block;
        position: relative;
        background-size: cover;
        background-position: center;
        .datetime, .user {
          position: absolute;
          background-color: white;
          margin: 2px;
          padding: 0 3px;
          // border-radius: 10px;
        }
        .datetime {
          right: 0;
          bottom: 0;
        }
        .datetime div, .user div {
          display: inline-block;
        }
        // .user div {
        //   background-color: white;
        //   display: inline-block;
        // }
      }
      .info {
        margin: 3px;
        overflow-y: scroll;
        word-wrap: break-word;
        white-space: normal;
        height: 50%;
        padding: 0 0 5px 0;
        width: 100%;
        .dishes {
          padding-left: 20px;
        }
        span {
          display: none;
        }
      }
    }
  }
}

/* menu calendar */

.calendar {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 25px 150px 150px 150px;
  grid-auto-columns: 33%;
  grid-auto-flow: column;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 0.9em;
  .calendar-header {
    color: white;
    background-color: gray;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    box-shadow: 0px 0px 2px gray;
    cursor: pointer;
  }
  #num-0 {
    background-color: $dark-green;
  }
  .menu {
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    position: relative;
    box-shadow: 0px 0px 2px gray;
    color: black;
    font-size: 0.8em;
    .dishes {
      position: absolute;
      // display: inline-block;
    }
  }
  [id*="朝"] {
    background-color: #fff8f8;
  }
  [id*="昼"] {
    background-color: #f8fff8;
  }
  [id*="夕"] {
    background-color: #f0f8ff;
  }
}

.home-grid {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  .home-link {
    display: inline-block;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 2px gray;
    font-size: 0.8em;
    background-color: $dark-green;
    position: relative;
    color: white;
    img {
      position: absolute;
      width: 60%;
      height: auto;
      // margin-top: 5%;
      left: 0;
      right: 0;
      margin: 10% auto;
    }
    div {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

/* button for modal */

.button-area {
  position: sticky;
  bottom: 0;
  right: 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  img {
    border-radius: 100%;
    background-color: orange;
  }
  .round-button {
    height: 46px;
    width: 46px;
    height: 46px;
    width: 46px;
    background-color: orange;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      height: 40px;
      width: auto;
    }
  }
}

/* modal */

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

#input_plural {
    margin: 10px 0;
}

#input_plural input.form-control {
    display: inline-block;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

#input_plural input.pluralBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.modal-dialog{
  border-radius: 5px;
  .modal-header {
    background-color: $little-light-orange;
    border-radius: 5px 5px 0 0;
    color: black;
    padding: 10px;
    .modal-title {
      font-weight: bold;
      font-size: 1em;
    }
  }
  .modal-body {
    font-size: 0.9em;
    .dishes-form {
      width: 100%;
      .form {
        width: 100%;
        .dish-form {
          display: inline-block;
        }
        .category {
          width: 25%;
        }
        .name {
          width: 70%;
        }
      }
    }
    .menu-form {
      width: 100%;
      // position: relative;
      input, select {
        border: 0;
        border-bottom: 1px solid #ccc;
      }
    }
    .category {
      padding: 0 15px 0 0;
    }
    .name {
      padding: 0;
    }
  }
}

.menu-information {
  width: 65%;
  display: inline-block;
}

.image_input_btn{
  display: block;
  background-color: $dark-green;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.form-heading {
  background-color: antiquewhite;
  margin-bottom: 5px;
  padding: 2px;
  font-size: 0.9em;
}

/* simple calendar */

#calendarModal {
  .modal-body {
    padding: 0 10px;
    .simple-calendar {
      .day {
        height: 70px;
        width: 14%;
        padding: 2px;
        // cursor: pointer;
        .day-content {
          font-size: 0.7em;
          padding: 0 2px;
          height: 20%;
          max-width: 60px;
        }
        #朝食 {
          background-color: mistyrose;
        }
        #昼食 {
          background-color: honeydew;
        }
        #夕食 {
          background-color: lightblue;
        }
      }
      #header-0 {
        color: red;
      }
      #header-6 {
        color: blue;
      }
      .wday-0 {
        .week-color {color: red;}
      }
      .wday-6 {
        .week-color {color: blue;}
      }
      .today {
        border: 1px solid orange;
      }
      .prev-month, .next-month{
        background-color: lightgray;
        .week-color { color: gray; }
        .day-content { display: none; }
      }
      .calendar-heading {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
}

/* recommend_menus */

.round-area {
  box-shadow: 0px 0px 2px gray;
  font-size: 0.8em;
  h4 {
    text-align: center;
    padding: 3px;
    border-radius: 5px 5px 0 0;
  }
  .ranking-table {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 25px 93px 93px 93px;
    grid-auto-columns: 33%;
    grid-auto-flow: column;
    margin: 5px;
    overflow: scroll;
  }
  .sharp {
    color: darkorange;
  }
  .rank {
    img {
      height: 20px;
      width: 20px;
      // margin-bottom: 10px;
    }
  }
  .rank-area {
    margin: 4px;
    overflow-y: scroll;
  }
  .dish_category {
    font-size: 1.2em;
    text-align: center;
    margin: 0 5px 5px 0;
  }
  #rank1 {
    border-right: 1px solid gold;
    border-bottom: 1px solid gold;
  }
  #rank2 {
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
  }
  #rank3 {
    border-right: 1px solid #C47022;
    border-bottom: 1px solid #C47022;
  }
  .rank-dish {
    text-align: center;
    word-wrap: break-word;
  }
}

#朝食 {
  h4 {
    background-color: #fff8f8;
    border-bottom: 2px solid mistyrose;
  }
  .dish_category {
    background-color: #fff8f8;
    border-bottom: 2px solid mistyrose;
  }
}
#昼食 {
  h4 {
    background-color: #f8fff8;
    border-bottom: 2px solid yellowgreen;
  }
  .dish_category {
    background-color: #f8fff8;
    border-bottom: 2px solid yellowgreen;
  }
}
#夕食 {
  h4 {
    background-color: #f0f8ff;
    border-bottom: 2px solid lightblue;
  }
  .dish_category {
    background-color: #f0f8ff;
    border-bottom: 2px solid lightblue;
  }
}

/* everyone's menu */

.vertical-list {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 2px;
  .item {
    margin: 10px 2px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid gray;
    padding: 1px;
    font-size: 0.9em;
    .picture {
      span {
        display: none;
      }
      width: 30%;
      padding-top: 20%;
      overflow: hidden;
      position: relative;
      background-size: cover;
      background-position: center;
    }
    .info {
      width: 65%;
      height: 100%;
      margin: 3px;
      overflow-y: scroll;
      word-wrap: break-word;
      white-space: normal;
      padding: 0 0 5px 0;
      .dishes {
        padding-left: 20px;
      }
    }
  }
  .datetime {
    float: right;
    vertical-align: bottom;
  }
}
.inline-top {
  display: inline-block;
  vertical-align: top;
}

/* menu search */

.applicable-menu {
  border-radius: 5px 5px 0 0;
  background-color: antiquewhite;
  padding: 3px;
  margin: 3px;
  display: table;
  overflow-y: scroll;
  .dish-name {
    font-size: 1.1em;
    margin-right: 10px;
    color: black;
  }
  .menu-date, .menu-time {
    font-size: 0.9em;
    color: gray;
  }
}

/* user search */

#search-results {
  li {
    padding-left: 20px;
  }
}

/* search form */

#search_name {
  width: 65%;
  margin-bottom: 0;
  display: inline-block;
}

.search-form {
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  margin-top: 3px;
}

/* error */

#error-user-search {
  background-color: ivory;
  border: solid 2px beige;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 0.8em;
  p {
    margin: 0;
  }
}

/* user info */

.stats {
  overflow: auto;
  display: inline-block;
  margin-left: 20px;
  margin-top: 3px;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

/* image */

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#form-menu-img, #preview {
  width: 100%;
  height: auto;
}

.menu-picture {
  width: 33%;
  height: auto;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 5px;
}

// #message-with-picture {
.menu-picture div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.menu-picture div.non-active, img.non-active {
  display: none;
}

.menu-picture div.active {
  display: flex;
}

// .hidden {
//   visibility: hidden;
// }

/* user edit */

#user_picture {
  display: none;
}

.avatar-edit {
  margin-left: 10px;
  width: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* tab */

ul.tab{
  margin:0;
  padding: 0;
  text-align: center;

}
.tab li{
  width: 49%;
  border: 1px solid #888;
  border-bottom-color: transparent;
  list-style: none;
  display: inline-block;
  background: #888;
  color: #fff;
  margin: 0;
  text-align: center;
}
.tab li.active{
  background: #fff;
  color: #337ab7;
  border:1px solid #337ab7;
  border-bottom-color: transparent;
}
.tab_cnt{
  border-top: 1px solid #888;
  padding: 15px;
  margin-top: -1px;
  overflow: hidden;
}
.tab_cnt div[id^="tab"]{
  display: none;
}
.tab_cnt div.active{
  display: block;
}
.tab_cnt div.non-active {
  display: none;
}
