@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  .container {
    width: 100%;
  }
  .row{
    // width: 800px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.top {
  background-color: #FBE9E7;
  display: flex;
  text-align: center;
  width: 100%;
  .center {
    background-color: #FBE9E7;
    color: black;
    margin: 0 auto;
    h1 {
      width: 250px;
      margin-bottom: 10px;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 150%;
    }
  }
}

.btn {
  background-color: #006064;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar {
  background-color: #FFCC80;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px white;
  box-shadow: 0px 0px 4px gray inset;
  margin: 0;
  border: 0;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
                "Yu Mincho", "MS PMincho", serif;
  .container {
    width: 100%;
    .navbar-header {
      display: flex;
      align-items: flex-end;
      margin: 1px;
      button {
        margin: 0 0 0 auto;
      }
      .sub-title {
        display: inline-block;
        margin-bottom: 3px;
      }
      #logo {
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        padding-top: 9px;
        color: black;
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* menus */

.menus {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    background-repeat: no-repeat;
    span {
      color: $gray-light;
    }
    .user {
      display: block;
      text-align: right;
    }
  }
  .dishes {
    display: block;
    margin-left: 5%;
    .dish {
      padding: 0 5px;
      background-color: white;
      border-radius: 20px;
      margin: 7px 0 7px 0;
      width: 90%;
    }
  }
}

/* recent menu */

// .grid-menus {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 200px;
//   width: 100%;
//   .recent-menu {
//     background-repeat: no-repeat;
//   }
// }

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 10px 0 0 0;
  .item {
    /* 横スクロール用 */
    display: inline-block;
    width: 40%;

    /* 見た目調整 */
    height: 300px;
    // border: 1px solid #bbb;
    overflow: hidden;
    background-color: white;
    margin: auto auto;
    .picture {
      width: 100%;
      height: 50%;
      overflow: hidden;
    }
    .info {
      height: 100px;
      width: 100%;
      margin-bottom: 0px;
    }
  }
}
/* menu calendar */

.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(20px, 1fr));
  grid-auto-rows: 120px;
  overflow: auto;
  .menu {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
    padding: 2px;
    overflow: scroll;
    .dish {
      background-color: white;
    }
  }
}
